SUPABASE_URL=https://hgbucbocvktcojmrcbxn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnYnVjYm9jdmt0Y29qbXJjYnhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODEwNzQ2NiwiZXhwIjoyMDkzNjgzNDY2fQ.LHw9s6se4yaPFNLOC8LrZ9AKjaj66xHJlAjVNTT4g_8
PORT=3001
